aside {
  width: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 32px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.children-topic {
  padding-left: 32px;
}

aside a {
  display: block;
  cursor: pointer;
  padding: 5px 0;
  white-space: nowrap;
}

aside a span {
  display: inline-block;
  width: 24px;
  font-size: 18px;
  margin-right: 8px;
  text-align: center;
}

.thumb {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("./public/images/icons-001@2x.png");
  background-size: 627px 16px;
}

.thumb {
  background-image: url("./public/images/icons-001.png");
}

.thumb.development {
  background-position: -247px 0px;
}

.thumb.system {
  background-position: -577px 0px;
}

.thumb.tools {
  background-position: -594px 0px;
}

.thumb.data-science {
  background-position: -429px 0px;
}

.thumb.blockchain {
  background-position: -379px 0px;
}

.thumb.mobile {
  background-position: -478px 0px;
}

.thumb.list {
  background-position: -462px 0px;
}

.thumb.social {
  background-position: -363px 0px;
}

.thumb.visual {
  background-position: 0px 0px;
}

.thumb.open-source {
  background-position: -165px 0px;
}

.thumb.all {
  background-position: -313px 0px;
}

.thumb.c {
  background-position: -82px 0px;
}

.thumb.javascript {
  background-position: -148px 0px;
}

.thumb.go {
  background-position: -99px 0px;
}

.thumb.ruby {
  background-position: -132px 0px;
}

.thumb.python {
  background-position: -115px 0px;
}

.thumb.library {
  background-position: -66px 0px;
}

.thumb.api {
  background-position: -198px 0px;
}

.thumb.database {
  background-position: -231px 0px;
}

.thumb.devops {
  background-position: -445px 0px;
}

.thumb.security {

    background-position: -544px 0px;

}

.thumb.cloud {

    background-position: -412px 0px;

}

.thumb.apple {

    background-position: -33px 0px;

}

.thumb.productivity {

    background-position: -528px 0px;

}



.list-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 32px;
  margin-right: 270px;
}

.list-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  color: #797979;
  margin-bottom: 24px;
}

.sort {
  position: relative;
  width: 86px;
  margin-top: -6px;
}
